body{
	background-color: gray;
}
.container{
	border: 5px solid blue;
    padding: 30px;
}
.row{
	 border-color: green;
	 text-align: left;
     padding: 30px;
}
.col-xs-10{
	border:5px solid purple;
	text-align: left;
	padding: 30px;

}
.col-xs-2{
	border:5px solid purple;
	text-align: left;
	padding: 30px;
}
h1{
	border: 5px solid lime;
	text-align: left;
	padding: 30px;

}